.background {
    background-image: linear-gradient(to right,
            rgb(255, 0, 0) 0%,
            rgb(255, 152, 152)50%,
            rgb(255, 152, 152)50%,
            white 100%);
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 250px;
    margin-top: 45px;
    padding-top: 1px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}


.background2 {
    position: absolute;
    left: 33%;
    top: 17%;
    width: 500px;
    height: 440px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}


.destiny {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    color: white;
}


.lets {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    font-size: 30px;
    margin-top: 150px;
    margin-left: 40px;
    color: white;
    width: 200px;
}


.its {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;

    font-size: 11px;
    margin-left: 40px;
    color: white;
    width: 150px;
}


.signup {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(251, 70, 70);
    text-decoration: underline;
}


.textbox {
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
}


.gendertext {
    font-weight: bold;
}


.gendertable {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    margin-left: 50px;
    margin-top: 20px;
}


.button {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;

    padding: 12px 80px;
    background-color: rgb(251, 70, 70);
    color: white;
    border-radius: 30px;
    margin-left: 135px;
    margin-top: 20px;
    font-size: 16px;

}


.haveanacc {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    margin-left: 170px;

}


.signinbutton {
    text-decoration: underline;
}


.signinbutton:hover {
    cursor: pointer;
    color: rgb(251, 70, 70)
}


.button:hover {
    cursor: pointer;
    opacity: 0.8;
}


.position,
.phoneno,
.city,
.cpassword,
.phone {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    margin-left: 50px;
}


.name,
.email,
.country,
.password,
.gender {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    margin-left: 50px;
}


.countrycodeselect {
    height: 20.5px;
}


.positiontext {
    width: 169px;
    height: 20.9px;
}


.radiogroup {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;
    margin-left: 45px;
}


.phone-input {
    width: 113px;
}